td .img-circle {
  height: 64px;
  width: 64px;
}

.list-item-plain {
  background-color: white;
}

.img-large-dynamic {
  height: 23vw;
  width: 23vw;
}

.img-circle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 64px;
  height: 64px;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 9999px;
    outline: none;
}
.btn-circle:focus,.btn-circle:active:focus,.btn-circle.active:focus,
.btn-circle.focus,.btn-circle:active.focus,.btn-circle.active.focus {
    outline: none;
}
.btn-remove:focus,.btn-remove:active:focus,.btn-remove.active:focus,
.btn-remove.focus,.btn-remove:active.focus,.btn-remove.active.focus {
    outline: none;
}
.btn-remove {
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    color: #a94442;
}
.btn-circle:hover {
  /* Smooth outline with box-shadow: */
  box-shadow: 0 0 3pt 2pt #5cb85c;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  vertical-align: middle;
}
.list-number {
  width: 50px;
}
.list-delete {
  width: 20px;
}
.list-points {
  width: 60px;
}
.list-image {
  width: 85px;
}
.list-name {
  width: 70%;
}
.img-circle.list-image-sm {
  height: 32px;
    width: 32px;
}

.nav-overlay {
  position:absolute;
  width:100%;
  height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.menubutton {
  position: absolute;
  color: white;
  font-size: 30px;
  float: left;
  padding: 20px;
  cursor: pointer;
    z-index: 1;
}

.dropdown {
  display: inline-block;
}

@media (max-width: 800px) {
.menubutton {
  position: absolute;
  color: white;
  font-size: 20px;
  float: left;
  padding: 15px;
}
}

.align-middle {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 26px
}

.center-row {
  display: flex;
  align-items: center;
}

.player-header {
  background-color: #333333;
  border-color: #333333;
  width: 100%;
  max-height: 400px;
}

.player-header img{
  max-height: 360px;
  max-width: 360px;
  margin: 0 auto
}

body.no-scroll { /* ...or body.dialogShowing */
  overflow: hidden;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -2px;
  background-color: #474747;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 20px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a7a7a7;;
    display: block;
    transition: 0.2s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
    margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
