<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/sortable.min.js"></script>


  <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
  <script src="js/custom.js"></script>
</head>

<body ng-class="{'no-scroll':overlay}" ng-app="myApp" ng-controller="GreetingController" ng-init="initCharacters()">

  <div id="mySidenav" class="sidenav">
    <a ng-click="go(uid)" href="player.html">My Picks</a>
    <a ng-click="goto('index.html')" href="index.html">Leaderboard</a>
    <a ng-click="goto('characters.html')" href="characters.html">Character List</a>
    <a ng-click="logout()" href="#">Logout</a>
  </div>
  <span ng-click="openNav()" class="glyphicon glyphicon-menu-hamburger menubutton" aria-hidden="true"></span>
  <div class="nav-overlay" ng-click="closeNav()" ng-if="overlay"></div>

  <div class="container player-header">
    <div class="row center-row align-middle">
      <div class="col-xs-4"><div>{{dead}}</div><div>Dead</div></div>
      <div class="col-xs-4"><img src="characters/ironthrone-compressed.jpg" class="img-circle img-responsive" alt="Bronn"></div>
      <div class="col-xs-4"><div>{{alive}}</div><div>Remain</div></div>
    </div>
  </div>
  <div>
    <!-- Default panel contents -->

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="list-number">#</th>
          <th class="list-image">Character</th>
          <th class="list-name"></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{'list-group-item-danger': char.dead}" ng-repeat="(idx,char) in characters">
          <td></td>
          <th scope="row">{{idx + 1}}</th>
          <td><img ng-src="characters/{{char.image}}" class="img-circle"></td>
          <td>{{char.name}}</td>
            <td></td>
        </tr>
      </tbody>
    </table>
      <div ng-if="!characters" class="loader"></div>
  </div>
</body>

</html>
